doctype html
html
  head
    title parent
    meta(charset="utf-8")
    script(src="http://code.jquery.com/jquery-3.3.1.min.js")
    script(src="./parent.js")
    link(href="./login.css", rel="stylesheet" type="text/css")
    script(href="http://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js")
    script(href="http://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")
  body
    label(id="text")
    
    input(type='password', id='parent_pwd')
    button(id='parent_login') Go



