doctype html
html
  head
    title LOG IN
    meta(charset="utf-8")
    script(src="http://code.jquery.com/jquery-3.3.1.min.js")
    link(href="./login.css", rel="stylesheet" type="text/css")
    link(href="http://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js")
  body
    button(class='button' onclick="GoToParent()")
      img(src = "src/parent.png")
    button(class='button' onclick="GoToChild()")
      img(src = "src/child.png")
    script(src="./select.js")


