doctype html
html
  head
    title Story
    meta(charset="utf-8")
    script(src="http://code.jquery.com/jquery-3.3.1.min.js")
    link(href="./login.css", rel="stylesheet" type="text/css")
    script(href="http://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js")
    //link(href="http://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")
    script(src="jquery.min.js")
    script(src="socket.io.js")

  body(onclick = "next()")
    h1(id="text") 請確保自己和寶貝都有10分鐘！
    script(src="./story.js")

